.product-images {
  & .image-product {
    background: #fff;
    position: relative;
  }
  & .image-product img {
    width: 100%;
  }
  & .container-image-secondary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0.5em;
    gap: 0.5em;
  }
  & .container-image-secondary > span {
    width: 80px !important;
    height: auto !important;
    min-width: auto !important;
    max-width: auto !important;
    min-height: auto !important;
    max-height: auto !important;
    position: relative !important;
    opacity: 0.7 !important;
    cursor: pointer !important;
    margin-right: 5px !important;
  }
  & .container-image-secondary > span:hover {
    opacity: 1 !important;
  }
  & figure.zoom {
    transition: opacity 0.5s;
    display: block;
    background-position: 50% 50%;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    background-repeat: no-repeat;
    margin: 0;
  }
  & figure.zoom .image-product:hover {
    opacity: 0;
    transition: opacity 0.5s;
    display: block;
    width: 100%;
  }
}

.oferta {
  position: absolute;
  top: calc(100% - 32px - 1em);
  width: 60px;
  left: calc(100% - 60px - 1em);
  background-color: #fff;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  z-index: 1;
  text-align: center;
}
