.section {
  position: relative;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    padding: 1em;
    margin: auto;
    max-width: 1200px;
  }

  .containerFigure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    .figure7 {
      position: absolute;
      top: 0;
      left: 100%;
      transform: translateX(-96%) translateY(-64px) rotate(0deg);
    }

    .figure13 {
      position: absolute;
      top: 100%;
      left: 100%;
      transform: translateX(-96%) translateY(-91%);
    }
  }

  .containerButtonBack {
    width: 100%;
    margin-bottom: 0.5em;

    button {
      border: none;
      background: none;
      outline: none;
      font-size: 1rem;
      font-family: Tenor Sans;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
  }
}
